body{
    background-color: #343a40;
    font-family: 'Quattrocento Sans', sans-serif;
}

.container{
    margin-top: 20px;
}

a:hover{
    color: #1565A1;
}

nav{
    background-color: #343a40;
}

.portfolioItem:hover{
    -webkit-box-shadow: -1px 9px 20px -8px rgba(255, 253, 253, 0.75);
    -moz-box-shadow: -1px 9px 20px -8px rgba(255, 253, 253, 0.75);
    box-shadow: -1px 9px 20px -8px rgba(255, 253, 253, 0.75);
}

.portfolioItem:focus{
    outline: none;
}
.portfolioItem{
    margin-top: 20px;
    
}
.cardInfo:hover{
    opacity: 1;
}

.card{
    position: relative;
    margin: 0 auto;
    border: none;
    border-radius: 0;
    background-color: #343a40;
    display: inline-block;
}

.img-thumbnail{
    opacity: 1;
    height: auto;
    max-width: 100%;
    width: 100%;
    vertical-align: bottom;
    padding: 0;
    border: none;
}

.cardInfo{
    bottom: 0;
    left: 0;
    top:0;
    right: 0;
    z-index: 9;
    border: none;
    position: absolute;
    background-color: rgba(255, 253, 253, 0.75);
    padding: 50px 50px 50px 30px;
    opacity: 0;
}

.col-md-4{
    min-height: 250px;
}

.card-title{
    padding: 5px 0 2px 10px;
    bottom: 15px;
    position: absolute;
    color: #343a40;
}

ul{
    list-style-type: none;
}

#linksList{
    text-decoration: none;
}

.contact{
    color:rgba(255,255,255,.5);
}

